{% extends 'links/base.html' %}


{% block content %}

<div class="ui borderless blue inverted pointing menu">
      <div class="ui container">
        <a class="header active item" href="/">Home</a>
        <a class="item" href="#root">About</a>
      </div>
    </div>

<div class="ui tiny basic modal">
  <div class="header">Add a New Link</div>
  <div class="content">
        <div>
      <form method="POST" class ="post-form ui form">
                {% csrf_token %}
                
                {% for field in form %}
                      <div>
                         <div>    
                          {{ field.label_tag }}
                         </div><div class=" ui input">
                           {{ field }}
                         </div>
                      </div>
                      <br>
                   {% endfor %}
                <button type="submit" class="ui primary button">Submit</button>
            </form>
    </div>
  </div>
</div>
    <div class="ui grid stackable container ">
      <div class="row" id="page-header">
        <div class="ui basic segment">
          <h1 class="ui huge header">
            <div class="content">URLCache</div>
            <div class="sub header">
              Keep track of all links you come across in an organised manner!
            </div>
          </h1>
        </div>
      </div>
      
      <div class="row" id="article">
        <div class="eleven wide column">
          <h2 class="ui large header">
              <div class="content">{{tag}}</div>
          </h2>
          <div class="ui hidden divider"></div>
          <div class="ui link cards stackable three">
            {% for link in links %}
            <div class="card">
              <div class="image" >
                <img src="{{link.image_url}}" style="width:100%;">
              </div>
              <div class="content">
                <div class= "header">{{link.title}}</div>
              </div>
              <div class="extra content">
                <span>
                  {% for tag in link.tags.all %}
                    <a href="{% url 'tagged' tag.slug %}">{{tag}}</a>
                  {% endfor %}
                </span>
              </div>
            </div> 
            {% endfor %}
            </div>  </div>
        <div class="four wide right floated column" id ="desktopGrid">
          <button class="ui button" id="btnModal">
  Add 
</button>
          <h4 class="ui header">Tags</h4>
          <div class="ui list">
            {% for tag in tags %}
            <a class="item" href="{% url 'tagged' tag.slug %}">{{tag}}</a>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>

{% endblock %}